$primary: #5265e1;
$secondary: #f7f7f7;
$enable-negative-margins: true;

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-danger {
  color: #fff;
  background-color: #fa5959;
}

.btn-danger:hover {
  color: #fa5959;
  background-color: #fff;
  border-color: #fa5959;
}
.btn-danger:focus {
  color: #fa5959;
  background-color: #fff;
  border-color: #fa5959;
}

.nav-link {
    color: black;
  }

.nav-link:hover {
  color: #fa5959;
}
.btn-primary:hover {
  color: #5265e1;
  background-color: #fff;
  border-color: #5265e1;
}
.btn-secondary:hover {
  color: #112b3c;
  background-color: #fff;
  border-color: #112b3c;
}

.rounded-bottomleft {
  border-radius: 0 0 0 200px;
  background-color: #5265e1;
  margin-left: 10%;
  width: 90%;
  height: 100%;
  margin-top: 85px;
}
.navbar {
  margin-bottom: 100px;
}
.img-fluid {
  margin-left: -10%;
  margin-top: -90px;
}
.rounded-bottomright{
    border-radius: 0 0 200px 0;
    background-color: #5265e1;
    margin-right: 50%;
    width: 90%;
    height: 70%;
    margin-top: 30px;
}
.card-img-top {
    width: 40%;
    margin:auto;
  }